input {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-size: 0.7rem;
    padding: 3px 7px;
    width: 180px;
}

input[type=text]:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

input[type=email]:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

input[type=number]:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

input[type=password]:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}